import * as React from 'react';

import styles from './styles.module.scss'

import { I{{ pascalCase name }}Layout } from '../data'

export const {{pascalCase name}} = ({ data }: I{{pascalCase name}}Layout ) => (
  <div className={styles.container}>
    <h1>{`{{pascalCase name}}`}</h1>
  </div>
)